
html{
  cursor: auto;
  background-color: black;
}


.calculator {
  max-width: 200px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
  border-width: 0px;
  border-radius: 10px;
  background-color: rgb(44, 44, 44);
  flex:auto;
  /* font-family: 'Orbitron', sans-serif; */
  
}

input[type="text"] {
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 18px;
  font-family:'Courier New', Courier, monospace;
  /* cursor: none; */
}

#result{
  border-width: 0px;
  /* background: #aaa8a8; */
  background: #aef7ca;
  /* border-radius: 100px; */
  box-shadow: 0 4px rgba(0, 0, 0, 0.2);
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  /* border-radius: 50px; */

}

#equals_button{
  grid-row: span 2;
  background: #df450c;

}

#equals_button:hover{
  background: yellow;
}

#clear_button{
  background: #07e8a1;
}

#clear_button:hover{
  background: yellow;
}



#sign_button{
  background: #df450c;
}

#digit_button{
  background: #dbdbdb;
}


#dot_button{
  background: #df450c;
}

button {
  border-width: 0px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  font-family:'Courier New', Courier, monospace;
  font-weight: 1000;
  /* cursor: none; */
  box-shadow: 0 6px rgba(0, 0, 0, 0.2);

}



